.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #4caf50, #afcbb1);
}
.auth-box {
  background: white;
  padding: 2.5rem;
  width: 350px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}
.auth-box h2 {
  margin-bottom: 1rem;
}
.auth-box form {
  display: flex;
  flex-direction: column;
}
.auth-box input {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.auth-box button {
  padding: 0.75rem;
  border: none;
  background: #45a049;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.auth-box button:hover {
  background: #357ab7;
}

.auth-box p {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.auth-box span {
  color: #45a049;
  cursor: pointer;
  font-weight: bold;
}
.auth-box span:hover {
  color: #357ab7;
}
@media (max-width: 480px) {
  .auth-box {
    padding: 1.5rem;
    width: 100%;
  }
  .auth-box input,
  .auth-box button {
    font-size: 1rem;
  }

  .auth-box h2 {
    font-size: 1.5rem;
  }
}
